<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MATrilhas - São Luís</title>
  <link href="/assets/css/styles.css" rel="stylesheet">
  <link href="/assets/css/destino.css" rel="stylesheet">
</head>
<body>
  <header class="header">
    <img class="header__logo" src="/assets/img/logo.svg" alt="">
    <nav class="header__menu">
        <ul class="header__options">
            <li class="header__option"><a href="/">Home</a></li>
        </ul>
    </nav>
  </header>

  <main class="container">
    <section class="section destinations">
      <h1 class="title">São Luís</h1>
      <div class="destinations__cards">

      </div>
    </section>
  </main>

  <footer class="footer">
    <p>© 2024 MATrilhas. Todos os direitos reservados.</p>
  </footer>
  
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/destino.js"></script>
</body>
</html>
